.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

html, body {
    background-color: hsl(234, 29%, 20%);
    // height: 100%;
    // width: 100%;
}